# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

Options -Indexes

ErrorDocument 404 /errors/404.html
ErrorDocument 401 /errors/401.html
ErrorDocument 500 /errors/500.html
ErrorDocument 403 /errors/403.html
